In [1]:
import pandas as pd

In [2]:
df_all=pd.read_excel('C:/Users/jayasuriya/Desktop/mission stocks/all data/Final data.xlsx')

In [3]:
df_all['Date']= pd.to_datetime(df_all['Date'])

In [4]:
df_all.head()

,Date,ADANIPORTS,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJAJFINSV,BAJFINANCE,BHARTIARTL,BPCL,BRITANNIA,...,PEL,PETRONET,PIDILITIND,PNB,UBL,TORNTPHARM,SIEMENS,SBICARD,PGHH,Unnamed: 98
0,2021-10-11,737.45,3306.05,787.15,3852.10,17713.95,7817.10,690.85,454.40,3840.6,...,2754.35,230.35,2462.75,40.45,1700.30,3167.20,2236.75,1126.85,13686.75,NaN
1,2021-10-08,739.90,3306.90,781.95,3815.55,17549.45,7732.20,695.50,449.45,3883.3,...,2736.25,227.80,2441.60,40.30,1650.05,3075.30,2223.45,1139.85,13742.65,NaN
2,2021-10-07,736.15,3290.85,777.10,3828.55,17470.25,7747.90,692.50,449.20,3900.6,...,2888.20,230.40,2460.50,39.90,1643.70,3074.25,2236.95,1139.35,13776.20,NaN
3,2021-10-06,724.00,3212.25,778.95,3770.05,17616.60,7735.15,691.40,447.20,3938.6,...,2842.15,230.25,2415.65,39.90,1589.15,3064.95,2195.45,1098.15,13856.00,NaN
4,2021-10-05,743.95,3254.75,782.60,3864.00,17847.50,7724.20,699.25,443.85,3882.2,...,2922.45,232.35,2436.35,41.05,1613.35,3129.30,2247.65,1096.70,13844.85,NaN

In [5]:
df_all.shape

(249, 99)

In [6]:
df_daily=pd.read_csv('C:/Users/jayasuriya/Desktop/mission stocks/daily data stats/cm12OCT2021bhav.csv')

In [7]:
df_daily.head()

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN
0,20MICRONS,EQ,61.15,63.90,60.30,62.95,63.00,60.65,259026,1.613415e+07,12-Oct-2021,2395,INE144J01027
1,21STCENMGM,EQ,52.10,52.10,52.10,52.10,52.10,53.15,11511,5.997231e+05,12-Oct-2021,135,INE253B01015
2,3MINDIA,EQ,25868.00,26000.00,25501.20,25929.50,25801.00,25720.00,31047,7.967921e+08,12-Oct-2021,2255,INE470A01017
3,3PLAND,EQ,13.80,13.95,13.05,13.85,13.95,13.35,9635,1.329578e+05,12-Oct-2021,114,INE105C01023
4,5PAISA,EQ,491.40,527.65,489.95,517.35,516.00,489.65,211669,1.082926e+08,12-Oct-2021,13272,INE618L01018

In [8]:
cols=df_all.columns
cols=cols[1:-1]
cols=list(cols)
print(cols)

['ADANIPORTS', 'ASIANPAINT', 'AXISBANK', 'BAJAJ-AUTO', 'BAJAJFINSV', 'BAJFINANCE', 'BHARTIARTL', 'BPCL', 'BRITANNIA', 'CIPLA', 'COALINDIA', 'DIVISLAB', 'DRREDDY', 'EICHERMOT', 'GRASIM', 'HCLTECH', 'HDFC', 'HDFCBANK', 'HDFCLIFE', 'HEROMOTOCO', 'HINDALCO', 'HINDUNILVR', 'ICICIBANK', 'INDUSINDBK', 'INFY', 'IOC', 'ITC', 'JSWSTEEL', 'KOTAKBANK', 'LT', 'M&M', 'MARUTI', 'NESTLEIND', 'NTPC', 'ONGC', 'POWERGRID', 'RELIANCE', 'SBILIFE', 'SBIN', 'SHREECEM', 'SUNPHARMA', 'TATACONSUM', 'TATAMOTORS', 'TATASTEEL', 'TCS', 'TECHM', 'TITAN', 'ULTRACEMCO', 'UPL', 'WIPRO', 'ABBOTINDIA', 'ACC', 'ADANIENT', 'ALKEM', 'AMBUJACEM', 'APOLLOHOSP', 'AUROPHARMA', 'BAJAJHLDNG', 'BANDHANBNK', 'BERGEPAINT', 'BIOCON', 'BOSCHLTD', 'CADILAHC', 'COLPAL', 'DABUR', 'DLF', 'DMART', 'GAIL', 'GODREJCP', 'HDFCAMC', 'HINDPETRO', 'ICICIGI', 'HAVELLS', 'ICICIPRULI', 'IGL', 'INDIGO', 'INDUSTOWER', 'YESBANK', 'VEDL', 'JUBLFOOD', 'LTI', 'LUPIN', 'MARICO', 'MCDOWELL-N', 'MRF', 'MUTHOOTFIN', 'NAUKRI', 'NMDC', 'PEL', 'PETRONET', 'PIDILITIND', 'PNB', 'UBL', 'TORNTPHARM', 'SIEMENS', 'SBICARD', 'PGHH']

In [9]:
# for i in range(len(cols)):
#     if cols[i]=="MCDOWELL":
#             cols.pop(i)
#             cols.insert(i,"MCDOWELL-N")

In [10]:
recent_vals={}
recent_vals["Date"]="10-12-2021"
for i in cols:
    i=i.strip()
    val=df_daily[df_daily['SYMBOL'] ==i].iloc[0][5]
    recent_vals[i]=val
    print(i,val)

ADANIPORTS 736.9
ASIANPAINT 3323.25
AXISBANK 797.15
BAJAJ-AUTO 3978.75
BAJAJFINSV 18222.65
BAJFINANCE 7855.75
BHARTIARTL 686.35
BPCL 455.25
BRITANNIA 3867.95
CIPLA 915.95
COALINDIA 193.3
DIVISLAB 5225.9
DRREDDY 4910.3
EICHERMOT 2909.6
GRASIM 1637.65
HCLTECH 1250.35
HDFC 2755.1
HDFCBANK 1629.6
HDFCLIFE 703.4
HEROMOTOCO 2916.65
HINDALCO 498.65
HINDUNILVR 2676.15
ICICIBANK 708.6
INDUSINDBK 1181.9
INFY 1685.15
IOC 131.25
ITC 241.3
JSWSTEEL 673.75
KOTAKBANK 1995.1
LT 1718.2
M&M 890.1
MARUTI 7693.8
NESTLEIND 19415.7
NTPC 144.55
ONGC 163.55
POWERGRID 193.35
RELIANCE 2667.8
SBILIFE 1210.6
SBIN 483.0
SHREECEM 27705.8
SUNPHARMA 829.7
TATACONSUM 816.15
TATAMOTORS 420.85
TATASTEEL 1329.1
TCS 3652.85
TECHM 1374.45
TITAN 2492.6
ULTRACEMCO 7250.15
UPL 744.3
WIPRO 659.1
ABBOTINDIA 21705.85
ACC 2245.65
ADANIENT 1554.45
ALKEM 3939.95
AMBUJACEM 403.6
APOLLOHOSP 4351.3
AUROPHARMA 729.85
BAJAJHLDNG 4747.7
BANDHANBNK 328.1
BERGEPAINT 820.75
BIOCON 358.3
BOSCHLTD 18093.55
CADILAHC 541.4
COLPAL 1706.15
DABUR 616.8
DLF 429.0
DMART 4739.0
GAIL 157.95
GODREJCP 1026.55
HDFCAMC 2906.85
HINDPETRO 327.8
ICICIGI 1532.95
HAVELLS 1420.25
ICICIPRULI 661.7
IGL 509.0
INDIGO 2040.3
INDUSTOWER 299.0
YESBANK 13.2
VEDL 312.2
JUBLFOOD 4275.95
LTI 5823.95
LUPIN 966.3
MARICO 584.35
MCDOWELL-N 905.9
MRF 85617.5
MUTHOOTFIN 1541.0
NAUKRI 6660.95
NMDC 151.6
PEL 2791.0
PETRONET 236.2
PIDILITIND 2461.1
PNB 41.25
UBL 1718.15
TORNTPHARM 3113.55
SIEMENS 2265.85
SBICARD 1112.0
PGHH 13778.55

In [11]:
# df_daily[df_daily['SYMBOL'] =='ADANIPORTS'].iloc[0][5]

In [12]:
top_row = pd.DataFrame(recent_vals,index=[0])
top_row

,Date,ADANIPORTS,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJAJFINSV,BAJFINANCE,BHARTIARTL,BPCL,BRITANNIA,...,NMDC,PEL,PETRONET,PIDILITIND,PNB,UBL,TORNTPHARM,SIEMENS,SBICARD,PGHH
0,10-12-2021,736.9,3323.25,797.15,3978.75,18222.65,7855.75,686.35,455.25,3867.95,...,151.6,2791.0,236.2,2461.1,41.25,1718.15,3113.55,2265.85,1112.0,13778.55

In [13]:
df_final = pd.concat([top_row, df_all]).reset_index(drop = True)
df_final

,Date,ADANIPORTS,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJAJFINSV,BAJFINANCE,BHARTIARTL,BPCL,BRITANNIA,...,PEL,PETRONET,PIDILITIND,PNB,UBL,TORNTPHARM,SIEMENS,SBICARD,PGHH,Unnamed: 98
0,10-12-2021,736.90,3323.25,797.15,3978.75,18222.65,7855.75,686.35,455.25,3867.95,...,2791.00,236.20,2461.10,41.25,1718.15,3113.55,2265.85,1112.00,13778.55,NaN
1,2021-10-11 00:00:00,737.45,3306.05,787.15,3852.10,17713.95,7817.10,690.85,454.40,3840.60,...,2754.35,230.35,2462.75,40.45,1700.30,3167.20,2236.75,1126.85,13686.75,NaN
2,2021-10-08 00:00:00,739.90,3306.90,781.95,3815.55,17549.45,7732.20,695.50,449.45,3883.30,...,2736.25,227.80,2441.60,40.30,1650.05,3075.30,2223.45,1139.85,13742.65,NaN
3,2021-10-07 00:00:00,736.15,3290.85,777.10,3828.55,17470.25,7747.90,692.50,449.20,3900.60,...,2888.20,230.40,2460.50,39.90,1643.70,3074.25,2236.95,1139.35,13776.20,NaN
4,2021-10-06 00:00:00,724.00,3212.25,778.95,3770.05,17616.60,7735.15,691.40,447.20,3938.60,...,2842.15,230.25,2415.65,39.90,1589.15,3064.95,2195.45,1098.15,13856.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,2020-10-16 00:00:00,349.95,2061.20,472.40,3044.75,5952.30,3231.35,401.65,339.95,3747.20,...,1291.35,222.65,1481.25,27.45,973.75,2744.20,1265.45,879.60,10112.50,NaN
246,2020-10-15 00:00:00,342.80,2090.45,462.60,3027.40,5899.05,3214.75,399.20,326.65,3731.00,...,1251.45,218.15,1476.45,27.70,967.75,2721.20,1238.15,900.20,10074.10,NaN
247,2020-10-14 00:00:00,348.95,2071.35,471.30,3054.15,6100.05,3372.05,413.25,332.90,3789.80,...,1299.65,210.20,1486.70,28.15,971.10,2758.45,1234.80,892.15,10098.05,NaN
248,2020-10-13 00:00:00,349.90,2064.65,461.35,3034.45,5867.65,3272.60,415.30,339.10,3745.65,...,1277.90,215.60,1483.00,27.85,970.75,2813.80,1232.25,856.35,10127.55,NaN
249,2020-10-12 00:00:00,357.65,2077.85,468.00,3022.75,5912.75,3327.20,415.05,341.60,3731.50,...,1314.40,218.45,1479.50,28.45,970.90,2840.80,1259.55,845.05,10001.25,NaN

In [14]:
df_final['Date']= pd.to_datetime(df_final['Date'])

In [15]:
df_final.head()

,Date,ADANIPORTS,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJAJFINSV,BAJFINANCE,BHARTIARTL,BPCL,BRITANNIA,...,PEL,PETRONET,PIDILITIND,PNB,UBL,TORNTPHARM,SIEMENS,SBICARD,PGHH,Unnamed: 98
0,2021-10-12,736.90,3323.25,797.15,3978.75,18222.65,7855.75,686.35,455.25,3867.95,...,2791.00,236.20,2461.10,41.25,1718.15,3113.55,2265.85,1112.00,13778.55,NaN
1,2021-10-11,737.45,3306.05,787.15,3852.10,17713.95,7817.10,690.85,454.40,3840.60,...,2754.35,230.35,2462.75,40.45,1700.30,3167.20,2236.75,1126.85,13686.75,NaN
2,2021-10-08,739.90,3306.90,781.95,3815.55,17549.45,7732.20,695.50,449.45,3883.30,...,2736.25,227.80,2441.60,40.30,1650.05,3075.30,2223.45,1139.85,13742.65,NaN
3,2021-10-07,736.15,3290.85,777.10,3828.55,17470.25,7747.90,692.50,449.20,3900.60,...,2888.20,230.40,2460.50,39.90,1643.70,3074.25,2236.95,1139.35,13776.20,NaN
4,2021-10-06,724.00,3212.25,778.95,3770.05,17616.60,7735.15,691.40,447.20,3938.60,...,2842.15,230.25,2415.65,39.90,1589.15,3064.95,2195.45,1098.15,13856.00,NaN

In [16]:
df_final.iloc[-1]

Date           2020-10-12 00:00:00
ADANIPORTS                  357.65
ASIANPAINT                 2077.85
AXISBANK                     468.0
BAJAJ-AUTO                 3022.75
                      ...
TORNTPHARM                  2840.8
SIEMENS                    1259.55
SBICARD                     845.05
PGHH                      10001.25
Unnamed: 98                    NaN
Name: 249, Length: 99, dtype: object

In [17]:
df_final.drop(df_final.tail(1).index,inplace=True) # drop last n rows

In [18]:
df_final.head()

,Date,ADANIPORTS,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJAJFINSV,BAJFINANCE,BHARTIARTL,BPCL,BRITANNIA,...,PEL,PETRONET,PIDILITIND,PNB,UBL,TORNTPHARM,SIEMENS,SBICARD,PGHH,Unnamed: 98
0,2021-10-12,736.90,3323.25,797.15,3978.75,18222.65,7855.75,686.35,455.25,3867.95,...,2791.00,236.20,2461.10,41.25,1718.15,3113.55,2265.85,1112.00,13778.55,NaN
1,2021-10-11,737.45,3306.05,787.15,3852.10,17713.95,7817.10,690.85,454.40,3840.60,...,2754.35,230.35,2462.75,40.45,1700.30,3167.20,2236.75,1126.85,13686.75,NaN
2,2021-10-08,739.90,3306.90,781.95,3815.55,17549.45,7732.20,695.50,449.45,3883.30,...,2736.25,227.80,2441.60,40.30,1650.05,3075.30,2223.45,1139.85,13742.65,NaN
3,2021-10-07,736.15,3290.85,777.10,3828.55,17470.25,7747.90,692.50,449.20,3900.60,...,2888.20,230.40,2460.50,39.90,1643.70,3074.25,2236.95,1139.35,13776.20,NaN
4,2021-10-06,724.00,3212.25,778.95,3770.05,17616.60,7735.15,691.40,447.20,3938.60,...,2842.15,230.25,2415.65,39.90,1589.15,3064.95,2195.45,1098.15,13856.00,NaN

In [19]:
df_final.tail()

,Date,ADANIPORTS,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJAJFINSV,BAJFINANCE,BHARTIARTL,BPCL,BRITANNIA,...,PEL,PETRONET,PIDILITIND,PNB,UBL,TORNTPHARM,SIEMENS,SBICARD,PGHH,Unnamed: 98
244,2020-10-19,347.55,2070.10,492.95,2980.00,5981.10,3267.20,397.70,346.65,3772.45,...,1324.10,222.90,1536.00,27.95,965.70,2673.10,1276.75,883.20,10149.55,NaN
245,2020-10-16,349.95,2061.20,472.40,3044.75,5952.30,3231.35,401.65,339.95,3747.20,...,1291.35,222.65,1481.25,27.45,973.75,2744.20,1265.45,879.60,10112.50,NaN
246,2020-10-15,342.80,2090.45,462.60,3027.40,5899.05,3214.75,399.20,326.65,3731.00,...,1251.45,218.15,1476.45,27.70,967.75,2721.20,1238.15,900.20,10074.10,NaN
247,2020-10-14,348.95,2071.35,471.30,3054.15,6100.05,3372.05,413.25,332.90,3789.80,...,1299.65,210.20,1486.70,28.15,971.10,2758.45,1234.80,892.15,10098.05,NaN
248,2020-10-13,349.90,2064.65,461.35,3034.45,5867.65,3272.60,415.30,339.10,3745.65,...,1277.90,215.60,1483.00,27.85,970.75,2813.80,1232.25,856.35,10127.55,NaN

In [20]:
df_final.to_excel("C:/Users/jayasuriya/Desktop/mission stocks/all data/Final data.xlsx",index=False)

In [21]:
# df_daily[df_daily['SYMBOL'] =="ADANIPORTS"].iloc[0][5]

In [22]:
df_final

,Date,ADANIPORTS,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJAJFINSV,BAJFINANCE,BHARTIARTL,BPCL,BRITANNIA,...,PEL,PETRONET,PIDILITIND,PNB,UBL,TORNTPHARM,SIEMENS,SBICARD,PGHH,Unnamed: 98
0,2021-10-12,736.90,3323.25,797.15,3978.75,18222.65,7855.75,686.35,455.25,3867.95,...,2791.00,236.20,2461.10,41.25,1718.15,3113.55,2265.85,1112.00,13778.55,NaN
1,2021-10-11,737.45,3306.05,787.15,3852.10,17713.95,7817.10,690.85,454.40,3840.60,...,2754.35,230.35,2462.75,40.45,1700.30,3167.20,2236.75,1126.85,13686.75,NaN
2,2021-10-08,739.90,3306.90,781.95,3815.55,17549.45,7732.20,695.50,449.45,3883.30,...,2736.25,227.80,2441.60,40.30,1650.05,3075.30,2223.45,1139.85,13742.65,NaN
3,2021-10-07,736.15,3290.85,777.10,3828.55,17470.25,7747.90,692.50,449.20,3900.60,...,2888.20,230.40,2460.50,39.90,1643.70,3074.25,2236.95,1139.35,13776.20,NaN
4,2021-10-06,724.00,3212.25,778.95,3770.05,17616.60,7735.15,691.40,447.20,3938.60,...,2842.15,230.25,2415.65,39.90,1589.15,3064.95,2195.45,1098.15,13856.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,2020-10-19,347.55,2070.10,492.95,2980.00,5981.10,3267.20,397.70,346.65,3772.45,...,1324.10,222.90,1536.00,27.95,965.70,2673.10,1276.75,883.20,10149.55,NaN
245,2020-10-16,349.95,2061.20,472.40,3044.75,5952.30,3231.35,401.65,339.95,3747.20,...,1291.35,222.65,1481.25,27.45,973.75,2744.20,1265.45,879.60,10112.50,NaN
246,2020-10-15,342.80,2090.45,462.60,3027.40,5899.05,3214.75,399.20,326.65,3731.00,...,1251.45,218.15,1476.45,27.70,967.75,2721.20,1238.15,900.20,10074.10,NaN
247,2020-10-14,348.95,2071.35,471.30,3054.15,6100.05,3372.05,413.25,332.90,3789.80,...,1299.65,210.20,1486.70,28.15,971.10,2758.45,1234.80,892.15,10098.05,NaN
248,2020-10-13,349.90,2064.65,461.35,3034.45,5867.65,3272.60,415.30,339.10,3745.65,...,1277.90,215.60,1483.00,27.85,970.75,2813.80,1232.25,856.35,10127.55,NaN