In [16]:
import pandas as pd
import numpy as np
import statistics

In [17]:
df=pd.read_excel('C:/Users/LENOVO/Downloads/Mission stocks/All data/MISSION STOCKS.xlsx')

In [18]:
df.head()

,Date,ADANIPORTS,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJAJFINSV,BAJFINANCE,BHARTIARTL,BPCL,BRITANNIA,...,PEL,PETRONET,PIDILITIND,PNB,UBL,TORNTPHARM,SIEMENS,SBICARD,PGHH,Unnamed: 99
0,2021-07-09,728.50,3010.6,747.35,3995.90,12854.75,6136.15,536.25,456.90,3475.95,...,2312.15,224.00,2277.80,41.00,1431.35,3005.05,2002.15,974.50,13134.70,NaN
1,2021-07-08,711.70,3028.3,754.40,4077.30,12333.90,6117.80,525.30,458.20,3491.40,...,2320.45,223.80,2283.45,41.05,1420.20,2945.50,2013.45,984.40,13186.95,NaN
2,2021-07-07,720.10,3040.1,762.90,4188.25,12374.15,6198.60,529.60,460.50,3521.35,...,2331.90,224.90,2276.50,41.70,1432.45,2949.55,2011.70,987.15,13351.80,NaN
3,2021-07-06,712.70,3002.5,758.35,4195.40,12090.80,6202.40,526.10,458.05,3519.00,...,2348.95,224.25,2231.20,41.85,1429.90,2931.90,2028.60,997.30,13580.90,NaN
4,2021-07-05,710.05,3014.8,760.35,4201.50,11923.10,6072.70,523.95,459.70,3523.55,...,2408.70,223.95,2267.15,42.30,1448.45,2938.85,2027.90,988.35,13600.75,NaN

In [14]:
df.head(1)

,Date,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJAJFINSV,BAJFINANCE,BHARTIARTL,BPCL,BRITANNIA,CIPLA,...,PIDILITIND,PNB,UBL,TORNTPHARM,SIEMENS,SBICARD,PGHH,ADANIPORTS,NTPC,Unnamed: 99
0,2021-07-07,3040.1,762.9,4188.25,12374.15,6198.6,529.6,460.5,3521.35,965.2,...,2276.5,41.7,1432.45,2949.55,2011.7,987.15,13351.8,NaN,NaN,NaN

In [15]:
df.shape

(252, 101)

In [106]:
df_final=df.iloc[:,7]

In [107]:
df_final=pd.DataFrame(df_final)

In [108]:
df_final.columns

Index(['close '], dtype='object')

In [118]:
rt=[]
for i in range(len(df)-1):
    num=df_final.iloc[i+1].values
    den=df_final.iloc[i].values
    print(num,den)
    val=np.log(num[0]/den[0])
    rt.append(val)

[983.5] [985.5]
[983.6] [983.5]
[985.3] [983.6]
[995.65] [985.3]
[989.7] [995.65]
[972.9] [989.7]
[980.1] [972.9]
[982.] [980.1]
[975.25] [982.]
[986.4] [975.25]
[979.4] [986.4]
[985.45] [979.4]
[984.2] [985.45]
[983.35] [984.2]
[968.55] [983.35]
[971.3] [968.55]
[967.2] [971.3]
[949.6] [967.2]
[936.55] [949.6]
[939.45] [936.55]
[943.75] [939.45]
[950.7] [943.75]
[945.2] [950.7]
[942.55] [945.2]
[942.4] [942.55]
[945.8] [942.4]
[940.6] [945.8]
[932.8] [940.6]
[930.65] [932.8]
[924.4] [930.65]
[931.4] [924.4]
[931.6] [931.4]
[922.15] [931.6]
[910.35] [922.15]
[906.1] [910.35]
[907.3] [906.1]
[913.95] [907.3]
[916.4] [913.95]
[916.] [916.4]
[909.4] [916.]
[900.95] [909.4]
[907.7] [900.95]
[898.95] [907.7]
[909.55] [898.95]
[923.8] [909.55]
[928.85] [923.8]
[928.8] [928.85]
[955.65] [928.8]
[961.9] [955.65]
[961.3] [961.9]
[994.6] [961.3]
[1012.75] [994.6]
[991.9] [1012.75]
[983.4] [991.9]
[1009.4] [983.4]
[1045.4] [1009.4]
[1037.5] [1045.4]
[1037.2] [1037.5]
[1028.4] [1037.2]
[1033.5] [1028.4]
[1002.6] [1033.5]
[982.65] [1002.6]
[995.8] [982.65]
[958.55] [995.8]
[957.05] [958.55]
[975.65] [957.05]
[980.85] [975.65]
[978.75] [980.85]
[960.45] [978.75]
[947.75] [960.45]
[987.45] [947.75]
[1007.25] [987.45]
[992.35] [1007.25]
[979.25] [992.35]
[988.5] [979.25]
[973.15] [988.5]
[961.9] [973.15]
[941.5] [961.9]
[958.] [941.5]
[965.25] [958.]
[953.75] [965.25]
[930.35] [953.75]
[909.45] [930.35]
[929.25] [909.45]
[916.] [929.25]
[909.95] [916.]
[920.15] [909.95]
[950.15] [920.15]
[948.1] [950.15]
[943.2] [948.1]
[952.3] [943.2]
[954.65] [952.3]
[960.4] [954.65]
[970.4] [960.4]
[959.45] [970.4]
[951.6] [959.45]
[957.75] [951.6]
[946.15] [957.75]
[957.65] [946.15]
[959.9] [957.65]
[954.65] [959.9]
[928.35] [954.65]
[914.] [928.35]
[933.95] [914.]
[955.5] [933.95]
[947.5] [955.5]
[985.8] [947.5]
[993.3] [985.8]
[999.25] [993.3]
[983.85] [999.25]
[981.5] [983.85]
[989.8] [981.5]
[1027.7] [989.8]
[1055.95] [1027.7]
[1062.1] [1055.95]
[1055.1] [1062.1]
[994.65] [1055.1]
[962.55] [994.65]
[978.2] [962.55]
[991.35] [978.2]
[980.4] [991.35]
[950.5] [980.4]
[946.15] [950.5]
[940.7] [946.15]
[935.9] [940.7]
[921.8] [935.9]
[919.35] [921.8]
[922.6] [919.35]
[913.8] [922.6]
[870.45] [913.8]
[890.65] [870.45]
[879.35] [890.65]
[885.05] [879.35]
[886.] [885.05]
[873.] [886.]
[862.25] [873.]
[866.75] [862.25]
[870.55] [866.75]
[863.8] [870.55]
[855.3] [863.8]
[858.5] [855.3]
[862.2] [858.5]
[843.15] [862.2]
[834.1] [843.15]
[822.1] [834.1]
[842.05] [822.1]
[824.7] [842.05]
[840.5] [824.7]
[839.2] [840.5]
[819.25] [839.2]
[804.55] [819.25]
[814.3] [804.55]
[815.] [814.3]
[830.5] [815.]
[828.1] [830.5]
[824.7] [828.1]
[826.05] [824.7]
[809.7] [826.05]
[855.] [809.7]
[850.1] [855.]
[842.9] [850.1]
[815.15] [842.9]
[814.05] [815.15]
[822.4] [814.05]
[841.95] [822.4]
[840.05] [841.95]
[829.6] [840.05]
[847.25] [829.6]
[847.8] [847.25]
[852.45] [847.8]
[866.25] [852.45]
[871.05] [866.25]
[879.65] [871.05]
[844.75] [879.65]
[827.15] [844.75]
[860.] [827.15]
[890.45] [860.]
[900.4] [890.45]
[865.8] [900.4]
[855.75] [865.8]
[849.55] [855.75]
[828.05] [849.55]
[829.15] [828.05]
[824.2] [829.15]
[812.95] [824.2]
[811.6] [812.95]
[812.75] [811.6]
[835.25] [812.75]
[827.7] [835.25]
[788.3] [827.7]
[814.1] [788.3]
[821.] [814.1]
[802.6] [821.]
[810.6] [802.6]
[808.3] [810.6]
[789.25] [808.3]
[792.7] [789.25]
[794.95] [792.7]
[721.65] [794.95]
[722.4] [721.65]
[721.95] [722.4]
[725.9] [721.95]
[708.8] [725.9]
[700.8] [708.8]
[706.75] [700.8]
[701.95] [706.75]
[689.6] [701.95]
[694.4] [689.6]
[706.45] [694.4]
[710.15] [706.45]
[712.8] [710.15]
[701.6] [712.8]
[705.7] [701.6]
[705.9] [705.7]
[710.1] [705.9]
[709.85] [710.1]
[714.45] [709.85]
[718.85] [714.45]
[709.1] [718.85]
[724.6] [709.1]
[717.1] [724.6]
[683.8] [717.1]
[692.05] [683.8]
[690.3] [692.05]
[704.9] [690.3]
[688.4] [704.9]
[692.65] [688.4]
[705.95] [692.65]
[705.2] [705.95]
[695.45] [705.2]
[694.4] [695.45]
[712.45] [694.4]
[701.1] [712.45]
[679.95] [701.1]
[652.85] [679.95]
[650.15] [652.85]
[652.35] [650.15]
[648.6] [652.35]
[623.15] [648.6]
[627.75] [623.15]
[615.2] [627.75]
[591.35] [615.2]
[602.6] [591.35]
[582.25] [602.6]
[588.25] [582.25]
[574.9] [588.25]
[592.05] [574.9]
[578.7] [592.05]
[579.15] [578.7]
[569.2] [579.15]
[551.75] [569.2]

In [119]:
for i in range(len(rt)):
    rt[i]=rt[i]*100

In [120]:
len(rt)

251

In [121]:
tot=0
length=len(rt)
for i in rt:
    tot=tot+i
print(tot/length)

-0.23109724360793982

In [123]:
statistics.stdev(rt)

1.851825282775077